
body, html {
    height: 90%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    background-image: url("assets/bg.png");
    height: 85%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-text {
    color: #ffffff;
    font-weight: 800;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .bg-text p {
    font-size: 4.0rem;
    color: #ffffff;
    font-weight: 750;
  }



/* YELLOW BANNER */
header {
    width: 100%;
    background-color: #f4eb34;
    position: relative;
    padding: 0.2em;
}

p{
    color: #000000;
    text-align: center;
    font-size: 0.88rem;
    font-weight: 300;
    padding: 1.2em auto;
    width: 100%;
}

/* NAV + LOGO */
nav{
    display: flex; 
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw; 
    height: 15%;
}

nav img{
    width: 130px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1.4em;
    position: relative;
    letter-spacing: 0.1em;
   
}

.nav-links ul li a{
    color: #152a42;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.90rem;
}

.nav-links ul li a:hover{
    color: #72AEA6;
}

.nav menu{
    display: none;
}


.text{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10em 10em;
    line-height: 2em;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 /*Blog*/
body{
    margin: 0px;
    padding: 0px;
 } 

#blog{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0px;
    
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:450px;
    background-color: #ffffff;
    border: 4px solid #72afa6;
    margin: 10px 10px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}
.blog-text{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #72afa6;
}
.blog-text p{
    color: #000000c6;
    font-size: 1.0rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px;
}
.blog-text a{
    color: #000000e2;
}
.blog-text a:hover{
    color: #f4eb34;
    transition: all ease 0.3s;
}

.buttons{
    border:1px solid #72AEA6;
    background-color: #ffffff;
    display:flex;
    justify-content:center;
    font-weight: 700;
    border-radius: 27,5px;
    color: var(#72afa6);
    letter-spacing: 12px;
    line-height: 22px;
    padding: 15px 30px;
    margin:auto;
    transition-duration: 300ms;

}


 /* Responsive */
 

@media(max-width:1250px){
 .logo{
    display: none;
    }
    .blog-box{
        width: 300px;
    }
    .blog-heading h3{
        position: center;
        text-align: center;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}