.logo{
    position:fixed;
    width: 150px;
  height: 150px;
}

ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: #ffffff;
    justify-content: space-evenly;
    font-size: 1rem;
    border-radius: 0px;
  }
  li {
    float: right;
}
  
  li a {
    display: flex;
    color: #1F8478;
    text-align: center;
    padding: 0.7rem 0.4rem;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #72afa6;
    color: white;
    
  }

*{ 
    margin: 1px;
    padding: 0px;
    font-style:normal;
    box-sizing: border-box;
    border-radius: 10px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 
body{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff43;
}
 
#blog{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0px;
    border-top: 0px solid rgba(0, 0, 0, 0.05);
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading span{
    color: #1F8478;
    font-size: 1.5rem;
    font-weight: 650;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #72afa6;
    font-weight: 700;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 6px solid #f2f4be;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #184641;
    font-size: 1.0rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #72afa6;
}
.blog-text p{
    color: #000000c6;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 10px;
}
.blog-text a{
    color: #000000e2;
}
.blog-text a:hover{
    color: #dde756;
    transition: all ease 0.3s;
}
 
 
@media(max-width:1250px){
 .logo{
    display: none;
    }
    .blog-box{
        width: 300px;
    }
    .blog-heading h3{
        position: center;
        text-align: center;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}
 