:root {
    --red: tomato;
    --bgColor: bisque;
  }
  
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--bgColor);
  }
  
  img.framed {
    box-shadow: -50px -50px 0 -40px var(--red), 50px 50px 0 -40px var(--red);
  }
